[submodule "ext"]
	path = ext
	url = https://github.com/bentrm/extjs.git
[submodule "packages/GeoExt"]
	path = packages/GeoExt
	url = https://github.com/bentrm/geoext2.git
	branch = local
[submodule "packages/GXC"]
	path = packages/GXC
	url = https://github.com/OpenInfRA/GXC.git
