$gx-popup-anc-height: 16px;

$gx-popup-anc-offset-vertical: -($gx-popup-anc-height * 2);
$gx-popup-anc-offset-left: 5px;
$gx-popup-anc-offset-right: 5px;

.gx-popup {
    overflow: visible;
}

.gx-popup-anc::before, .gx-popup-anc::after {
    content: ' ';
    z-index: 1;
    height: 0;
    width: 0;
    position: absolute;
    border: $gx-popup-anc-height solid transparent;
    display: block;
}

.gx-popup-anc-top:before {
    top: $gx-popup-anc-offset-vertical;
    border-bottom-color: $window-border-color;
}

.gx-popup-anc-top:after {
    top: $gx-popup-anc-offset-vertical + $window-header-border-width;
    border-bottom-color: $window-header-background-color;
}

.gx-popup-anc-bottom:before {
    bottom: $gx-popup-anc-offset-vertical;
    border-top-color: $window-border-color;
}

.gx-popup-anc-bottom:after {
    @if $window-include-border-management-rules {
        bottom: $gx-popup-anc-offset-vertical + $window-wrap-border-width;
        border-top-color: $window-wrap-border-color;
    } @else {
        bottom: $gx-popup-anc-offset-vertical + $window-body-border-width;
        border-top-color: $window-header-background-color;
    }
}

.gx-popup-anc-left::before, .gx-popup-anc-left::after {
    left: $gx-popup-anc-offset-left;
}

.gx-popup-anc-right:before, .gx-popup-anc-right::after {
    right: $gx-popup-anc-offset-right;
}
