#gxc-container:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#gxc-container:-moz-full-screen {
  width: 100%;
  height: 100%;
}

#gxc-container:-ms-fullscreen {
  width: 100%;
  height: 100%;
}

#gxc-container:full-screen { /*pre-spec */
  width: 100%;
  height: 100%;
}

#gxc-container:fullscreen { /* spec */
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
#gxc-container::backdrop {

}
#gxc-container::-ms-backdrop {

}
